/image_with_masks
/modified_prostate_mask.nii
/modified_prostate_mri.nii
/requirements.txt
/__pycache__
/filtered_dataset
/collection_tool/Clinical_Set
/comprehensive_analysis_P-88554873_20250731-125628
/old_code
/random_baseline_20250730-150957
/random_baseline_20250730-162843
/trained_model.zip
/results
/etc
results/rewards.png
results/rewards20250328-124732.png
results/visualize20250416-160627.png
results/visualize.png
Visualisation_test.py
Sphere.py
output.txt
compare.py
collection_tool
.gitignore
clinical_placements.csv
enhanced_clinical_placement_analysis.png
experiment_4.py
experiment_5.py
eval_1_10.py
eval_1.py
eval_3_10.py
collection_tool/__pycache__/agent_vis_2.cpython-39.pyc
collection_tool/__pycache__/main_agent.cpython-39.pyc
collection_tool/__pycache__/main_env.cpython-39.pyc
collection_tool/__pycache__/random.cpython-39.pyc
